.row {
  margin-top: 15px;
  padding: 5px 25px;
  display: flex;
  width: 100%;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.innerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.titleEnd {
  display: flex;
  align-items: center;
}

.calendarIcon {
  margin-right: 25px;
  cursor: pointer;
  box-shadow: 0 0 1px #111;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.addTransaction {
  cursor: pointer;
}

.addTransaction:hover {
  opacity: 0.75;
}

.transactionSearch {
  margin: 0 1px;
  margin-top: -10px;
  width: 100%;
  padding-left: 15px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}
