.row {
  margin-top: 15px;
  padding: 5px 25px 5px 10px;
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: hidden;
}

.col-7 {
  width: calc(7 / 12 * 100%);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.col-5 {
  width: calc(5 / 12 * 100%);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.innerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.innerRowSmall {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin: 10px auto;
}

.innerRowSmall:last-child {
  overflow: auto;
  margin-top: -15px;
}

.innerRowSmall:nth-child(3) {
  margin-top: -5px;
}

.cardwrapper {
  margin-top: -10px;
  display: flex;
  width: 100%;
  padding: 0 5px;
  justify-content: space-around;
}
.innerRow:first-child {
  margin-top: 5px;
}

.innerRow:last-child {
  height: 100%;
  overflow: auto;
}

.titleEnd {
  display: flex;
  align-items: center;
}

.calendarIcon {
  margin-right: 25px;
  cursor: pointer;
  box-shadow: 0 0 1px #111;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.addTransaction {
  cursor: pointer;
}

.addTransaction:hover {
  opacity: 0.75;
}

.transactionSearch {
  margin: 0 1px;
  margin-top: -10px;
  width: 100%;
  padding-left: 15px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.hr-separation {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-top: 1px solid #ebebeb;
  margin-top: 10px;
}

.weeklyBudgetBanner {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #eee;
  background-color: #4832ea;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333;
  cursor: pointer;
  margin: auto;
}

.weeklyBudgetBanner:hover {
  opacity: 0.85;
}

.weeklyOverview,
.categoryOverview {
  margin: 10px 5%;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
}
